* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: "Didact Gothic", sans-serif;
}

header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  background-color: black;
  width: 100%;
  height: 80px;
  padding: 20px 60px;
}

header > h1 {
  font-size: 28px;
  font-weight: 400;
  height: 30px;
  color: white;
}

header a {
  align-self: center;
}

header img {
  height: 15px;
}
