section {
  margin-top: 80px;
}

#news_section {
  background-color: #f6f6f6;
  height: 1100px;
}

.text-format {
  font-size: 26px;
  font-weight: 600;
  letter-spacing: 0.4em;
  text-align: center;
}

.sticky-left {
  position: sticky;
  top: 50vh;
  transform: translateY(-50%);
  left: 50px;
  font-size: 15px;
  text-align: center;
  height: 30vh;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
}

#services-flex {
  display: flex;
  justify-content: center;
}

section img {
  margin: auto;
  margin-top: 50px;
  display: block;
  width: 100%;
}

.image-wrapper {
  position: relative;
  z-index: -1;
}

.text-in-image {
  margin: 0;
  width: max-content;
  font-size: 57px;
  font-weight: 400;
  color: white;
  opacity: 0.9;
  letter-spacing: 0.2em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#news-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  height: 650px;
  width: 82%;
  margin-left: 40px;
}

.news {
  padding-right: 40px;
  align-self: flex-start;
}

.item01 {
  order: 1;
}

.item02 {
  order: 2;
}

.item03 {
  order: 3;
}

.item04 {
  order: 4;
}

.item05 {
  order: 5;
}

.news img {
  width: 400px;
  margin: auto 0;
}

.date {
  color: rgb(178, 178, 178);
  font-size: 22px;
  text-align: left;
  padding-left: 5px;
}

.description {
  font-size: 25px;
  text-align: left;
  padding: 5px;
  word-break: break-all;
}

.button {
  display: block;
  width: 350px;
  height: 75px;
  margin: 80px auto;
  letter-spacing: 5px;
}

.button:hover {
  background-color: rgb(171, 205, 68);
  border: none;
}
