section {
  margin-top: 80px;
}

.text-format {
  font-size: 26px;
  font-weight: 600;
  letter-spacing: 0.4em;
  text-align: center;
}

.sticky_left {
  top: 50vh;
  left: 50px;
  font-size: 15px;
  position: sticky;
  writing-mode: vertical-rl;
  margin-top: -400px;
  transform: rotate(180deg);
}

section img {
  margin: auto;
  margin-top: 50px;
  display: block;
  width: 75%;
}

.image_wrapper {
  position: relative;
  z-index: -1;
}

div > div > h3 {
  margin: 0;
  font-size: 57px;
  font-weight: 400;
  color: white;
  opacity: 0.9;
  letter-spacing: 0.2em;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
