section {
  margin-top: 80px;
}

#news_section {
  background-color: #f6f6f6;
  padding-top: 80px;
}

.text-format {
  font-size: 26px;
  font-weight: 600;
  letter-spacing: 0.4em;
  text-align: center;
}

.sticky_left {
  position: sticky;
  top: 50vh;
  transform: translateY(-50%);
  left: 50px;
  font-size: 15px;
  text-align: center;
  height: 30vh;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
}

#services-flex {
  display: flex;
  justify-content: center;
}

section img {
  margin: auto;
  margin-top: 50px;
  display: block;
  width: 100%;
}

.image-wrapper {
  position: relative;
  z-index: -1;
}

.text-in-image {
  margin: 0;
  font-size: 57px;
  font-weight: 400;
  color: white;
  opacity: 0.9;
  letter-spacing: 0.2em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
